@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: #0d0f12;
  color: #fff;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}


/* Wrapper */

#wrapper {
  display: flex;
  flex-direction: row;
}

#left {
  display: flex;
  height: 100vh;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

#right {
  flex-direction: column;
  flex: 1;
}


/* Sign in */

#sign_in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-bottom: 1rem;
}

#sign_in form {
  width: 80%;
  padding-bottom: 3rem;
}

#sign_in .logo {
  margin-bottom: 8vh;
}

#sign_in .logo img {
  width: 200px;
}

#sign_in label {
  font-size: 0.9rem;
  line-height: 2rem;
  font-weight: 500;
}

#sign_in .input_text {
  margin-bottom: 1.3rem;
  width: 100%;
  border-radius: 2px;
  background: #0d0f12;
  border: 1px solid #555;
  color: #ccc;
  padding: 0.5rem 1rem;
  line-height: 1.3rem;
}


/* Buttons */

.btn {
  width: 100%;
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 0;
  border-radius: 3px;
  font-weight: 500;
  background-color: #0074ab;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s;
  letter-spacing: .01em;
}

.btn:hover {
  background-color: #006395;
}

.btn_secondary {
  width: 100%;
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 0;
  border-radius: 3px;
  font-weight: 500;
  background-color: rgba(138,153,168,.25);
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s;
  letter-spacing: .01em;
}

.btn_secondary:hover {
  background-color: rgba(138,153,168,.3);
}

/* Media queries */

@media (min-width: 1200px) {
  #left {
    flex: 4;
  }

  #right {
    flex: 6;
  }
}
