@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: #0d0f12;
  color: #fff;
  overflow: hidden;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}


/* Wrapper */

#wrapper {
  display: flex;
  flex-direction: row;
}

#left {
  display: flex;
  height: 100vh;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

#right {
  flex-direction: column;
  flex: 1;
}


/* Sign in */

#sign_in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-bottom: 1rem;
}

#sign_in form {
  width: 80%;
  padding-bottom: 3rem;
}

#sign_in .logo {
  margin-bottom: 8vh;
}

#sign_in .logo img {
  width: 140px;
}

#sign_in label {
  font-size: 0.9rem;
  line-height: 2rem;
  font-weight: 500;
}

#sign_in .input_text {
  margin-bottom: 1.3rem;
  width: 100%;
  border-radius: 2px;
  background: #0d0f12;
  border: 1px solid #555;
  color: #ccc;
  padding: 0.5rem 1rem;
  line-height: 1.3rem;
}


/* Buttons */

.btn {
  width: 100%;
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 0;
  border-radius: 3px;
  font-weight: 500;
  background-color: #0074ab;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s;
  letter-spacing: .01em;
}

.btn:hover {
  background-color: #006395;
}

.btn_secondary {
  width: 100%;
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 0;
  border-radius: 3px;
  font-weight: 500;
  background-color: rgba(138,153,168,.25);
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s;
  letter-spacing: .01em;
}

.btn_secondary:hover {
  background-color: rgba(138,153,168,.3);
}

#sign_in .btn_secondary,
.links,
.line {
  width: 80%;
}


/* Forgot password, company/school, and hr */

#sign_in .links a {
  display: block;
  color: #2ea0d6;
  text-decoration: none;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

#sign_in .line {
  margin-bottom: 1rem;
}

#sign_in .line .bar {
  flex: auto;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
}


/* Footer */

#footer {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 0.8rem;
  max-width: 80%;
  padding-top: 5rem;
}

#footer a {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.7);
}

#footer a:hover {
  color: #0074ab;
}


/* Hero */

#hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: url('bg.jpg') no-repeat center center / cover;
  height: 100vh;
  text-align: center;
}

#hero .hero_content {
  padding: 5%;
  margin-left: 50px;
  max-width: 52%;
}

#hero .hero_text_wrapper {
  text-align: left;
  max-width: 480px;
}

#hero .hero_text {
  font-size: 3rem;
  font-weight: 700;
  width: 100%;
  color: #fff;
  cursor: default;
  margin-bottom: 5rem;
}

#hero .blurb {
  position: absolute;
  right: 40px;
  bottom: 40px;
  max-width: 150px;
  cursor: default;
}

#hero .blurb:before {
  display: block;
  content: "";
  width: 50px;
  height: 23px;
  position: absolute;
  top: -2px;
  left: -6px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

#hero .blurb:after {
  display: block;
  content: "";
  width: 50px;
  height: 23px;
  position: absolute;
  bottom: -2px;
  right: -6px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}

#hero .btn_secondary {
  font-size: 14px;
  font-weight: 500;
  background: linear-gradient(to right,#F05A28,#EC008C,#F05A28);
  max-width: 230px;
}


/* Media queries */

@media (min-width: 1200px) {
  #left {
    flex: 4;
  }

  #right {
    flex: 6;
  }
}
